#main{
	background-image: url(../img/main.jpg);
	background-size: cover;
	max-width: 100%;
	height: 350px;
	color: #ffffff;
	padding: 75px;
	margin-bottom: 10px;
}
.container{
	text-align: center;
}
h1{
	font-size: 7em;
	font-family: 'Anton', sans-serif;
}
h2{
	font-size: 3em;
}
#second{
	background-image: url(../img/second.png);
	background-size: cover;
	padding-top: 250px;
	height: 600px;
/*	height: 250px;*/
	color: #ffffff;
	max-width: 100%;

}
h3{
	font-size: 2em;
}
a{
	color: #ffffff;
}
#footer{
	padding: 3px;
}
p{
	font-size: 0.8em;
}
